ipch

*.obj
*.exe
*.lib
*.exp
!glut/*/*
!glut/*
!library.obj
!mesh_0000.obj
!tiaowu.obj

!Debug
!Debug/glut*
!Release
!Release/glut*
!*.txt
*.sdf
*.suo
*.opensdf
*.XML
*.tlog
*.pdb
*.idb
*.log
*.pch
*.manifest
*.res
*rc
*.lastbuildstate
*.cache
*.htm
*.user










